* {
    margin: 0;
    padding: 5;
}

body {
    background-color: #D5D5D5;
}

.contenedor {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.contenedor_calculadora {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}





#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}

/*----- Apectos -----*/
/*-------------------*/

/*----- Apecto 1 -----*/

.calculadora {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    padding: 15px;
    color: #ffffff;
    background-color: #333333;
    box-shadow: 10px 10px 5px 5px #111111;
    border-radius: 15px;
}

.calculadora input {
    font-family: "Consolas", monospace;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 15px;
    font-size: 1.5em;
    color: #ffffff;
    border-color: #222222;
    box-shadow: 4px 4px 0px 0px #222222;
    background-color: #444444;

}

.calculadora .skin {
    background-color: seagreen;
 }

.calculadora .numero:active {
    box-shadow: none;
    background-color: #272727;
}

.calculadora .borrar {
    background-color: #A30101;
}

.calculadora .borrar:active {
    box-shadow: none;
    background-color: #770303;
}

.calculadora .operador {
    background-color: #e0e0e0;
    color: #333333;
}

.calculadora .operador:active {
    box-shadow: none;
    background-color: #9b9b9b;
}

.calculadora .display {
    font-family: "Consolas", monospace;
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 8px 8px 16px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 15px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    background-color: rgba(201, 255, 189, 0.8);
    box-shadow: 0px 0px 0px 3px #222222;
}

/*----- Apecto 2 -----*/



.calculadora.aspecto {
    padding: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #ffffff;
    background-image: url("fondo.jpg");
    background-size: 100%;
    box-shadow: 0px 0px 20px #111111;
}

.calculadora.aspecto input {
    font-weight: bold;
    font-family: "Segoe UI";
    cursor: pointer;
    margin: 3px;
    padding: 0;
    border-radius: 5px;
    font-size: 1.5em;
    color: #ffffff;
}

.calculadora.aspecto .numero {
    border-color: rgba(70, 113, 253, 0.6);
    box-shadow: 4px 4px 8px -3px rgb(70, 113, 253);
    background-color: rgba(70, 113, 253, 0.3);
}

.calculadora.aspecto .numero:hover {
    background-color: rgba(68, 112, 255, 0.8);
}

.calculadora.aspecto .numero:active {
    box-shadow: none;
    background-color: rgba(41, 91, 255, 0.8);
}

.calculadora.aspecto .borrar {
    border-color: rgba(200, 200, 200, 0.9);
    color: #333333;
    box-shadow: 3px 3px 2px -1px rgb(200, 200, 200);
    background-color: rgba(240, 240, 240, 0.7);
}

.calculadora.aspecto .borrar:hover {
    background-color: rgba(210, 210, 210, 0.8);
}

.calculadora.aspecto .borrar:active {
    box-shadow: none;
    background-color: rgb(180, 180, 180, 0.8);
}

.calculadora.aspecto .operador {
    border-color: rgba(0, 121, 10, 0.6);
    box-shadow: 3px 3px 2px -1px rgb(0, 145, 12);
    background-color: rgba(0, 145, 12, 0.3);
}

.calculadora.aspecto .operador:hover {
    background-color: rgb(0, 145, 12, 0.8);
}

.calculadora.aspecto .operador:active {
    box-shadow: none;
    background-color: rgba(0, 109, 9, 0.8);
}

.calculadora.aspecto .display {
    font-family: "Segoe UI";
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 8px 8px 16px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 5px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    color: #ffffff;
    background-color: rgba(50, 50, 50, 0.8);
    box-shadow: 0px 0px 0px 3px #111111;
}